/* styling on smaller screens */
@media screen and (max-width: 768px) {
    .markdown-section {
        margin-top: 5em;
    }
}

.iframeWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.iframeWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.app-nav>ul>li:hover ul {
    z-index: 2;
    visibility: visible;
    opacity: 1;
    transform: translate(50%, 0);
}

:root {
    --theme-color   : green;
    --link-color    : green;
}
  